<div class="sidebar">
  <h2>Kapitel</h2>
  <ul>
    <li><a href="kapitel/01_galaxy.html">Kapitel 1: Die Galaxy</a></li>
    <li><a href="kapitel/02_fate_core_grundlagen.html">Kapitel 2: FATE Core Grundlagen</a></li>
    <li><a href="kapitel/03_alien_voelker">Kapitel 3: Alien Völker</a></li>
    <li><a href="kapitel/04_crew_erstellung.html">Kapitel 4: Crew-Erstellung</a></li>
    <li><a href="kapitel/05_aspekte.html">Kapitel 5: Aspekte</a></li>
    <li><a href="kapitel/06_dinge_machen.html">Kapitel 6: Dinge machen</a></li>
    <li><a href="kapitel/07_verbessung.html">Kapitel 7: Verbesserung</a></li>
    <li><a href="kapitel/08_Faehigkeiten.html">Kapitel 8: Fähigkeiten</a></li>
    <li><a href="kapitel/09_Stunts.html">Kapitel 9: Stunts</a></li>
    <li><a href="kapitel/10_ausruestung.html">Kapitel 10: Ausrüstung</a></li>
    <li><a href="kapitel/11_Schiffe.html">Kapitel 11: Schiffe</a></li>
    <li><a href="kapitel/12_spielen.html">Kapitel 12: Spielen</a></li>
  </ul>
</div>

<div class="sidebar">
  <h2>Recent Posts</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>Tags</h2>
  <ul class="sideBarTags">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li>
      <a href="{{ '/tag/' | append: tag[0] | relative_url }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
        <span>{{tag[0] }}</span></a></li>
    {% endfor %}
  </ul>
</div>
